.data {
  position:relative;
  display: flex;
  flex-direction: column;
  align-items: center;
  color: white;
  -webkit-overflow-scrolling: touch;
  padding-top: 150px;
  }

.dataBlocksContainer {
    padding-top: 80px;
    padding-bottom: 80px;
    width: 100%;
    box-sizing: border-box;
}